<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @membership_type.name %>
</p>

<p>
  <strong>Monthlycost:</strong>
  <%= @membership_type.monthlycost %>
</p>

<%= link_to 'Edit', edit_membership_type_path(@membership_type) %> |
<%= link_to 'Back', membership_types_path %>
