<% provide(:title, @user.name) %>
<div class="row clearfix">
  <div class="col-md-1 column">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-11 column">
    <address>
      <strong><%= @user.name %></strong><br />
      <%= @user.street %><br />
      <%= @user.city%><br />
      <%= "#{@user.state}, #{@user.city} #{@user.zip}" %><br />
      <abbr title="Email">E:</abbr> <%= @user.email %>
    </address>
  </div>
</div>
