<% provide(:title, @user.name) %>
<div class="row">
<h1><%= @user.name %></h1>
  <div class="col-md-1 column">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-11 column">
    <address>
      <%= @user.street %><br />
      <%= "#{@user.city}, #{@user.state} #{@user.zip}" %><br />
      <abbr title="Email">E:</abbr> <%= @user.email %> <br />
      <%= @user.membership_type.name %>
      Member since 
      <%= @user.membership_date.to_s %>
    </address>
  </div>
</div>
