<% provide(:title, @user.name) %>
<div class="row">
<h1><%= @user.name %></h1>
  <div class="col-md-1 column">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-11 column">
    <address>
      <%= @user.street %><br />
      <%= "#{@user.city}, #{@user.state} #{@user.zip}" %><br />
      <abbr title="Email">E:</abbr> <%= @user.email %> <br />
      <% if !@user.current_membership.nil? %>
	<%= @user.current_membership.membership_type.name %>
	Member
	<% if @user.current_membership.end.nil? %>
	  since 
	  <%= @user.current_membership.start.to_s %>
	<% else %>
	  from <%= @user.current_membership.start.to_s %>
	  until <%= @user.current_membership.end.to_s %>
	<% end %> <br />
	<%= @user.invoice_for(2014,7) %>
      <% end %>
    </address>
  </div>
</div>
