<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @discount.percent %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
