<h1>Listing members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Lname</th>
      <th>Fname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.lname %></td>
        <td><%= member.fname %></td>
        <td><%= member.address %></td>
        <td><%= member.city %></td>
        <td><%= member.state %></td>
        <td><%= member.zip %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
