<p id="notice"><%= notice %></p>

<p>
  <strong>Lname:</strong>
  <%= @member.lname %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @member.fname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @member.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @member.parent %>
</p>

<% if @member.memberships.any?  %>
      <ul class="memberships">
	<%= render @memberships %>
      </ul>
    <% end %>
    <% if current_user && current_user.admin? %>
      <%= link_to "Add Membership", new_membership_path(member: @member) %>
      <br/>
      <%= @member.invoice_for(2014,7) %>
    <% end %>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
